html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: #EFF1F4;
}

.btn-md {
    padding: .8rem 2rem;
}

.btn:hover {
    color: inherit !important;
    background: inherit !important;
}

.btn_dark {
    background: black !important;
    border-color: black !important;
}

.btn_primary {
    background: #200752 !important;
    border-color: #200752 !important;
    color: white !important;
}

.btn_secondary {
    background: #F8BC07 !important;
    border-color: #F8BC07 !important;
    color: white !important;
}

.btn_primary:hover {
    color: #200752 !important;
}

.btn_secondary:hover {
    color: #F8BC07 !important;
}

.btn_green {
    background: #108A00 !important;
    border-color: #108A00 !important;
}

.primary {
    color: #200752 !important;
}

.primary_25 {
    color: #20075240 !important;
}

.white {
    color: white !important;
}

.black {
    color: black !important;
}

.secondary {
    color: #F8BC07 !important;
}

.green {
    color: #108A00 !important;
}

.bg_trans {
    background-color: transparent !important;
}

.bg_primary {
    background-color: #200752 !important;
}

.bg_primary_50 {
    background-color: #20075280 !important;
}

.bg_primary_25 {
    background-color: #20075240 !important;
}

.bg_white {
    background-color: white !important;
}

.bg_white_50 {
    background-color: #ffffff80 !important;
}

.white_50 {
    color: #ffffff80 !important;
}

.bg_black {
    background-color: black !important;
}

.bg_secondary {
    background-color: #F8BC07 !important;
}

.bg_green {
    background-color: #108A00 !important;
}

.border_none {
    border: none !important;
    border-radius: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
    color: #200752 !important;
}

.triangle-container {
    width: 250px;
    margin: 0 auto;
    overflow: hidden;
    transform-origin: 50% 50% 0;
    transform: rotate(45deg) translateY(10px);
}

.triangle-container>.img {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    transform: rotate(-45deg) translateY(-105px);
    transform-origin: 50% 50% 0;
}

.triangle-container>.img>img {
    height: auto;
    width: 100%;
}

.breadcrumb {
    height: 60vh;
    background-color: #200752;
    background-image: url("/breadcrumb.png");
    background-size: cover;
    background-position: center;
}

.breadcrumb>h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}